html, body {
  margin: 0;
  padding: 0;
}

.el-header {
  height: 60px !important;
  line-height: 60px;
}

.el-header .r-header {
  text-align: right;
}

.el-header .nav {
  cursor: pointer;
}

.el-header .r-header .logout {
  cursor: pointer;
}

.el-header .r-header .logout:hover {
  color: #ff0000;
}

.drawer-main {
  background-color: #f5f8fa;
}

.drawer-main .drawer-main-box {
  padding: 20px;
}

.drawer-main .drawer-main-box-close {
  float: right;
  cursor: pointer;
}

.main-box {
  background-color: #ffffff;
}

.sub-btn {
  cursor: pointer;
  color: #0000ff;
}

.padding10 {
  padding: 10px 0;
}

.purple-btn {
  background-color: #6c3989;
  border-color: #6c3989;
  color: #f5f8fa;
}
